@keyframes highlight {
  0% {
    color: #756C83;
  }
  25% {
    color: #3c0606;
  }
  50% {
    color: #990f0f;
  }
  75% {
    color: #ec3b3b;
  }
  100% {
    color: #F38181;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
}
html body {
  font-family: 'Montserrat', sans-serif;
  color: #756C83;
}
html body a {
  text-transform: none;
  text-decoration: none;
}
#header {
  width: 100%;
  max-width: 100vw;
  background-color: #B9E1DC;
  color: #756C83;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width:500px) {
  #header {
    flex-direction: column;
  }
}
#header #logosection #logo {
  color: #FBFBFB;
  font-size: 6rem;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 1px 1px 2px #7b7b7b;
  letter-spacing: 0rem;
}
@media (max-width:500px) {
  #header #logosection #logo {
    text-align: center;
    padding-bottom: 4%;
  }
}
#header #logosection #slogan {
  margin-top: -8%;
  text-align: center;
  font-size: 1.2rem;
}
@media (max-width:500px) {
  #header #logosection #slogan {
    text-align: center;
  }
}
#header #mainnav {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width:500px) {
  #header #mainnav {
    text-align: center;
  }
}
#header #mainnav a {
  margin-left: 1%;
  text-decoration: none;
  color: #756C83;
  padding: 2% 25%;
  margin-top: 20%;
  margin-right: 5%;
}
@media (max-width:500px) {
  #header #mainnav a {
    font-size: 1.5rem;
  }
}
#header #mainnav a a:hover {
  background-color: #F38181;
  color: #FBFBFB;
}
#container {
  background-color: #F38181;
  padding: 10%;
}
#container #contentMain {
  width: 80%;
  border: 1px solid #ef5252;
  border-radius: 5px;
  background-color: #fcdede;
  padding: 5%;
}
footer {
  width: 100%;
  background-color: #756C83;
  margin: 0 auto;
  color: #FBFBFB;
  padding-top: 10%;
  padding-bottom: 10%;
}
@media (max-width:800px) {
  footer {
    max-width: 100vw;
  }
}
@media (max-width:500px) {
  footer {
    max-width: 100vw;
  }
}
