#container{
    background-color:@accent;
    padding:10%;

    #contentMain{
        width:80%;
        border: 1px solid darken(@accent,10%);
        border-radius:5px;
        background-color: lighten(@accent, 20%);
        padding:5%;
    }
}