#container{
    background-color:@accent;
    padding-top:2%;

    #contentMain{
        width:80%;
        border: 1px solid darken(@accent,10%);
        border-radius:5px;
        margin:0 auto;
        background-color: lighten(@accent, 20%);
       
          .Flexit(space-evenly);
          @media @mobile {
              flex-direction: column;
              width:90vw;
          }
        .row{
            .slideshow{
                margin: 20px auto;
                position: relative;
                width: 240px;
                background-color:@lightcolor;
                height: 280px;
                padding: 5px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            


                #lindsay{

                    #lindsaypic{
                        height:220px;
                        width:235px;
                        margin:0 auto;
                    }
                }
                #michael{

                    #michaelpic{
                        height:220px;
                        width:235px;
                    }
                }
                #henry {

                    #henrypic{
                        height:220px;
                        width:235px;
                    }
                }
                #brittany{
                    #brittanypic{
                        height:220px;
                        width:235px;
                    }
                }
            }
           }
          // #slideshow > div{
           // position: absolute;
           // top: 10px;
            //left: 10px;
           // right: 10px;
            //bottom: 10px;
          //}
        }
    }
