.Flexit(@justify){
    display:flex;
    justify-content: @justify;
}
.Buttonit(@bgcolor,@fontcolor){
    background-color:@bgcolor;
    color:@fontcolor;
    font-family: 'Oswald', sans-serif;
    letter-spacing:.09rem;    
    border-radius: 5px;
    border:1px solid lighten(@darkcolor, 10%);
    //box-shadow: 3px 1px 8px lighten(@darkcolor,20%);

}